.docSection {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
  overflow: auto;
  min-height: 100vh;
}
.titleParent {
  position: absolute;
  width: 80%;
  min-height: 87%;
  right: 0;
  display: flex;
  justify-content: start;
  top: 10%;
  align-items: start;
  color: white;
  padding: 2rem;
  flex-direction: column;
}
.titleParent h3 {
  color: gray;
  text-transform: uppercase;
  font-weight: 600;
}
.titleParent h1 {
  font-size: 5.2rem;
}
@media (max-width: 768px) {
  .titleParent {
    position: absolute;
    width: 80%;
    height: 87%;
    right: 0;
    display: flex;
    justify-content: start;
    bottom: 0;
    align-items: start;
    color: white;
    padding: 2rem;
    flex-direction: column;
    left: 0;
    right: 0;
    translate: 14% 5%;
  }
  .titleParent h1 {
    font-size: 2rem;
}
}
