.box {
    position: absolute;
    width: 100%;
    z-index: 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    user-select: none;
}

.box-child {
    height: 7rem;
    width: 100%;
    border: 1px solid blue;
    filter: grayscale(1);
    transform: rotate(30deg);
    animation: rotating 2s ease-in;
    user-select: none;
}

@keyframes rotating {
    to {
        transform: rotate(216deg);
    }
}