.HomeApp {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.1rem;
}

.a {
  background: green;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  overflow: hidden;
}