.card {
    border: 1px solid #0077e5;
    min-height: 13rem;
    width: 30rem;
    border-radius: 10px;
    padding: 1rem;
}
#card_img {
    object-fit: contain;
    border-radius: 10px;
    font-size: 1.5rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-para {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}
@media (max-width:325px) {
  html {
    font-size: 10px;
  }
}

@media (min-width:326px) and (max-width:425px) {
  html {
    font-size: 12px;
  }
}

@media (min-width:426px) and (max-width:768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width:769px) and (max-width:1200px) {
  html {
    font-size: 16px;
  }
}

@media (min-width:1201px) and (max-width:1600px) {
  html {
    font-size: 18px;
  }
}

@media (min-width:1601px) {
  html {
    font-size: 20px;
  }
}