.navbarparent {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  width: 100%;
  background: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.navbarparent ul,
li {
  display: flex;
  list-style: none;
  color: white;
  gap: 2rem;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.95rem;
  text-transform: capitalize;
}

.navbarparent li:hover {
  color: #a59e9e;
  cursor: pointer;
}

.navbarLogo {
  height: 4rem;
  filter: brightness(100);
}

.smallnavbarparent {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
  min-height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.smallnavbarparent ul li {
  margin: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.smallnavbarlogo {
  height: 6rem;
  filter: brightness(100);
}

.logoAtSmallNavbar {
  height: 4rem;
  filter: brightness(100);
}
.line {
  width: 3rem;
  height: 0.2rem;
  margin: 0.5rem;
  /* background-color: white; */
}

#smallnavbarContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background: #000000;
  width: 100%;
  z-index: 999;
  padding: 1rem;
}

.smallLogo {
  height: 4rem;
  filter: brightness(100);
}
#smallScreensMenu {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
#smallScreensMenu :nth-child(n) {
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbarparent {
    display: none;
  }

  .smallnavbarparent {
    display: flex;
  }
  .line {
    background: white; /*Burger Icon*/
  }
}

@media (min-width: 769px) {
  .navbarparent {
    display: flex;
  }

  .smallnavbarparent {
    display: none;
  }

  #smallnavbarContainer {
    display: none;
  }
}
