.navbar {
  height: 3.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #141a22;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  user-select: none;
}

.navbar:nth-child(n) {
  z-index: 999;
  height: 5rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar-list li:hover {
  scale: 1.1;
  cursor: pointer;
}

@media (max-width: 526px) {
  .navbar {
    flex-direction: column;
  }

  .navbar:nth-child(n) {
    z-index: 999;
    height: 7rem;
  }
}
