.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background: #070707;
  color: white;
  font-weight: bold;
}
.alert{
  position: fixed;
  top: 5%;
  right: 5%;
}
img{
  height: 20rem;
  width: 24rem;
  object-fit: contain;
}
.sliderStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 14rem;
  gap: 2rem;
  overflow: hidden;
  min-height: 5rem;
}