body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0000;
}
@property --DefaultBackground {
  syntax: "<color>";
  inherits: false;
  --DefaultBackground: #000000;
}
:root {
  --DefaultBackground: #000000;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s;
  outline: none;
}
section {
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 119, 255); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0381bb; 
}
@media (max-width: 425px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1601px) {
  html {
    font-size: 21px;
  }
}
